@import "tailwindcss";

:root {
  --bg-primary: #F4F7FE;
  --bg-secondary: #FFFFFF;
  --brand-primary: #0A3C51;
  --brand-secondary: #126385;
  --accent: #E85D04;
  --text-primary: #1A202C;
}

[data-theme='dark'] {
  --bg-primary: #0F172A;
  --bg-secondary: #1E293B;
  --brand-primary: #38BDF8;
  --brand-secondary: #7DD3FC;
  --accent: #F97316;
  --text-primary: #F8FAFC;
}